name: "infra preview & deploy"

on:
  push:
    branches:
      - main
    paths:
      - 10_infra/**
      - .github/workflows/**
  workflow_dispatch:

# github actions操作権限
permissions:
  id-token: write
  contents: read

env:
  TF_VERSION: 1.2.8

defaults:
  run:
    shell: bash
    working-directory: "10_infra/"

jobs:
  preview:
    name: "preview"
    runs-on: ubuntu-latest
    steps:
      - name: 1. checkout repository
        uses: actions/checkout@v6
      - name: 2. setup terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - name: 3. terraform fmt
        run: |
          terraform fmt -check